nav {
    border-bottom: 1px solid black;
    margin-bottom: 25px;

    .nav-link {
      padding: 20px;
      display: inline-block;
      text-decoration: none;

      &:hover {
        background-color: silver;
      }

      &:active, &:focus, &:visited, &:hover {
        text-decoration: none;
      }
    }
  }
