.container{
  display: flex;
  justify-content: center;
}
.form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid rgba(199, 21, 133, 0.46);
  border-radius:40px ;
  padding: 55px;
  background-color: rgba(199, 21, 133, 0.16);
}
h4{
  text-align:  center;
  padding-bottom: 10px;
}
.button{
  display: flex;
  flex-direction: row;
}
button{
  background-color: mediumvioletred;
  margin: 0px 15px 15px 0px;
  color: white;
  padding: 8px;
  cursor: pointer;
}
