<!-- Zadatak -->
<!--
    Napraviti Angular aplikaciju koja, u navigaciji, ima tri taba.

    Prvi tab je home tab i otvara neku custom home componentu.
    Na toj komponenti se nalaze dva input polja, username i password.
    Omogućiti login korisniku.

    Drugi tab je tab za kreiranje vozila.
    Sastoji se od dropdown (select) elementa, koji sadrži vrijednosti
    "karavan", "limuzina", "džip", "SUV",
    input polja u koji se može napisati custom marka vozila
    (kao neka izmišljenja marka. Zamisli da ti određuješ kako
    će se zvati vozilo).
    Svako kreirano vozilo spremiti u bazu.

    Treći tab je lista vozila.
    Sva kreirana vozila treba da se prikažu tabelarno u sljedećem redoslijedu:
    Ime, Tip, DatumKreiranja.

    Baza će nam biti localstorage.

    BONUS: Napravi da se tab za kreiranje vozila samo prikazuje kada je
    korisnik ulogovan.
 -->
<app-project-navigation></app-project-navigation>

<!-- <app-navigation></app-navigation> -->

<router-outlet></router-outlet>
