.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 50px;
  background-color: blanchedalmond;
}

.active {
  background-color: green;
}
