<!-- <div class="container">
  <div class="form-container">
    <label for="user_email">Email:</label>
    <input #email id="user_email" type="text" placeholder="Unesi mail" />
    <label for="user_password">Password</label>
    <input #password id="user_password" type="text" placeholder="Unesi password" />
    <button (click)="ispis(email, password)">Send</button>
  </div>
</div> -->

<div class="checkbox-container">
  <label for="">Prikazi login</label>
  <input #checkbox type="checkbox" (change)="aktivirajLogin(checkbox)">
</div>

<div class="container" *ngIf="prikaziLogin">
  <div class="form-container">
    <label for="user_email">Email:</label>
    <input id="user_email" type="text" placeholder="Unesi mail" [(ngModel)]="userModel.mail" />
    <label for="user_password">Password</label>
    <input id="user_password" type="text" placeholder="Unesi password" [(ngModel)]="userModel.password" />
    <!-- <button (click)="ispis()" [ngClass]="{'active': prikaziLogin}" >Send</button> -->
    <button (click)="ispis()" >Send</button>
  </div>
</div>

<img [src]="imageUrl" [height]="imageHeight"  [width]="imageWidth" />
<button (click)="imageHeight = 1000" style="background-color: purple;">Promijeni veličinu</button>

<div *ngFor="let text of textCollection" [ngClass]="{'active': prikaziLogin}">
  <div>{{ text }}</div>
</div>

<div *ngFor="let obj of objectCollection">
  <div>{{ obj.name }} {{ obj.surname }}</div>
</div>
