<!-- Zadatak -->
<!--


  Napraviti rutu admin na koju se može pristupiti samo ako korisnik ima ovlaštenje
  (valjda se tako kaže xD)

  Ovlaštenje se dodjeljuje na ovoj komponenti klikom na dugme "Dodijeli ovlaštenje".
  Napraviti i dugme kojim se oduzima to isto ovlaštenje.
  Ovlaštenje se mora postaviti preko servisa.

  Kada korisnik dobije ovlaštenje, prebaciti korisnika na admin rutu.

  Napraviti model Maca te
  inicijalizirati taj model unutar ove komponente i
  ispisati inicijalizirane vrijednosti unutar HTML-a.

  Napraviti komponentu 404PageNotFound i napisati unutra tekst koji govori
  kako stranica ne postoji te tu
  komponentu dodijeliti "fallback/wildcard" ruti.
 -->

<h3>Rute / Rute sa njihovim varijablama / Trenutno aktivna ruta</h3>
<button (click)="goToAdmin()">Admin</button>
<button (click)="goToAdminWithParams()">Admin with param</button>
<button (click)="trenutnaRuta()">Trenutna ruta na kojoj se nalaziš</button>
<br/><br/><br/>

<h3>Gurads</h3>
<button (click)="dodijeliPristupAdmin(true)">Odobri ovlaštenje</button>
<button (click)="dodijeliPristupAdmin(false)">Onemogući ovlaštenje</button>

<div>
  <p *ngFor="let x of mace">
    {{x.ime}} {{x.boja}}
  </p>
  <p>{{korisnik.firstName}}</p>
</div>
