<!-- Zadatak 3 -->
<!--
  Priprema:
    Pripremio sam user service koji uzima sa API-a neke dummy user podatke (ti podaci se generišu kada pokreneš
    dotnet API).
    Unutar Angulara sam pripremio model objekat zbog mapiranja podataka i da imaš uvid šta API vrati (nalazi se
    unutar models foldera).
    Unutar Zadatak3 komponente sam namjestio da se podaci sa API-a upišu unutar users varijable tako da tu
    varijablu možeš koristiti za ovaj zadatak.

    Kada pull-aš kod, odradi migraciju i update baze podataka te onda pokreni dotnet app.

  Zadatak:
    Iskoristiti users varijablju i napraviti tabelaran prikaz svih podataka koji se nalaze na UserModel-u

    Napraviti checkbox (ili bilo koji drugi element koji može vratiti bool vrijednost) koji prikazuje ili
    sakriva tabelu

    Napraviti servis koji će primiti neki tekst iz input-a i pretvoriti ga u uppercase i prikazati ga
-->

<p>
  zadatak3 works!
</p>
